extends ../layouts/default

block content
  .row.u-cf
  .u-max-full-width
  .row
    .twelve.columns.mobile-div.center-content
      a.button.button-mobile(href='/contact') Contact Us
  .row.page-title
    .offset-by-one.six.columns.page-title-container
      h2 Brazilian JiuJitsu
    // End of spotlight-instructor
  // End of row
  .row
    .offset-by-one.six.columns.page-content
      p
        | It is primarily a ground-fighting art. Most techniques involve both fighters on the mat. There is a heavy emphasis on positional strategy, which is about which fighter is on top, and where each person's legs are. Positions are stable situations, from which a large variety of techniques are available to both fighters
      .row
        .six.columns.photo-container
          img.center-image(src='images/galluppi.jpg',style="max-width:59vw;")
      .row
        .six.columns.photo-container
          img.center-image(src='images/bjj_2.jpg',style="max-width:59vw;")
      .row
        .two.columns.photo-container
          img.center-image.long-image(src='images/bjj_hi_res.jpg',style="max-width:59vw;")
        .offset-by-two.two.columns.photo-container
          img.center-image.long-image(src="images/bjj_3.jpg",style="max-width:59vw;")
      
      // End of row
    // End of offset-by-one six columns
    .five.columns.program-form
      form.instructor-form
        .row
          .offset-by-one.ten.columns
            h2.form-heading.center-content.form-heading-top Contact Us To
            h2.form-heading.center-content
              span.highlighted Start
              |  Today !
          // twelve columns
          .offset-by-one.ten.columns.center-content
            input#nameInput(type='text', placeholder='First & Last Name')
          .offset-by-one.ten.columns.center-content
            input#emailInput(type='email', placeholder='Email')
          .offset-by-one.ten.columns.center-content
            input#phoneInput(type='tel', placeholder='Phone Number')
          .offset-by-one.ten.columns.center-content
            input.button.instructor-submit(type='submit', value='START TRAINING TODAY')
        // End of row
    // End of five columns
  // End of row
