extends ../layouts/default

block content
  .row.u-cf
  .row
    .offset-by-one.six.columns.page-title-container
      h2 Instructors
    // End of spotlight-instructor
  // End of row
  .row.spotlight
    .offset-by-one.six.columns.spotlight-instructor
      img.center-image.spotlight-photo(src='images/galluppi.jpg',height="215px",width="215px")
      h3.spotlight-headings Giulianno Galluppi
      h4.spotlight-headings Head Coach / BJJ Instructor
      p
        | Guilianno Galluppi is a 3rd degree black belt in Brazilian JiuJitsu under Ricardo Liborio (Co-Founder of American Top Team). He started his journey in martial arts as a young boy, learning Judo. In Brazil it is common for children to enter into a martial arts discipline and compete, Giulianno excelled at Judo and quickly moved on to Brazilian JiuJitsu, winning several tournaments while climbing up the belt ranks.
    // End of offset-by-one six columns
    .five.columns
      form.instructor-form
        .row
          .offset-by-one.ten.columns
            h2.form-heading.center-content WHAT ARE YOU WAITING FOR?
            h2.form-heading.center-content
              span.highlighted Start
              |  Today !
          // twelve columns
          .offset-by-one.ten.columns.center-content
            input#nameInput-Instructor(type='text', placeholder='First & Last Name')
          .offset-by-one.ten.columns.center-content
            input#emailInput(type='email', placeholder='Email')
          .offset-by-one.ten.columns.center-content
            input#phoneInput(type='tel', placeholder='Phone Number')
          .offset-by-one.ten.columns.center-content
            input.button.instructor-submit(type='submit', value='START TRAINING TODAY')
        // End of row
    // End of five columns
  // End of row
  .row.staff
    .offset-by-one.ten.columns
      .row.staff-row
        .four.columns.staff-bio
          img.center-image(src='images/hunter_muskrat.jpg', style="max-width:225px;max-height:225px;")
          h4.center-content.staff-name Hunter Muskrat
          h5.center-content.staff-job Wrestling Instructor
          p.center-content
            | Brazilian JiuJitsu - (referred to as BJJ) is known as the gentle art. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, iure similique magnam quia quis optio. Sit, iusto exercitationem alias molestias aspernatur repellendus quasi sapiente veritatis quibusdam vel accusamus mollitia?
        // End of four columns
        .four.columns.staff-bio
          img.center-image(src='images/brandon_frame.jpg', style="max-width:225px;max-height:225px;")
          h4.center-content.staff-name Brandon Frame
          h5.center-content.staff-job No Gi Instructor
          p.center-content
            | Brazilian JiuJitsu - (referred to as BJJ) is known as the gentle art. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, iure similique magnam quia quis optio. Sit, iusto exercitationem alias molestias aspernatur repellendus quasi sapiente veritatis quibusdam vel accusamus mollitia?
        // End of four columns
        .four.columns.staff-bio
          img.center-image(src='images/tj_taha_instructor.jpg', style="max-width:225px;max-height:225px;")
          h4.center-content.staff-name TJ Taha
          h5.center-content.staff-job Kickboxing Instructor
          p.center-content
            | Brazilian JiuJitsu - (referred to as BJJ) is known as the gentle art. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, iure similique magnam quia quis optio. Sit, iusto exercitationem alias molestias aspernatur repellendus quasi sapiente veritatis quibusdam vel accusamus mollitia?
        // End of four columns
      // End of row
      .row.staff-row
        .four.columns.staff-bio
          img.center-image(src='images/shakir.jpg', style="max-width:225px;max-height:225px;")
          h4.center-content.staff-name Shakir Mckillip
          h5.center-content.staff-job Kids BJJ Instructor
          p.center-content
            | Brazilian JiuJitsu - (referred to as BJJ) is known as the gentle art. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, assumenda, iure similique magnam quia quis optio. Sit, iusto exercitationem alias molestias aspernatur repellendus quasi sapiente veritatis quibusdam vel accusamus mollitia?
        // End of four columns
      // End of row
    // End of staff-bio
  // End of staff
