extends ../layouts/default

block content
  .row.u-cf
  .row
    .twelve.columns.mobile-div.center-content
      a.button.button-mobile(href='/contact') Contact Us
  .row.page-title
    .offset-by-one.six.columns.page-title-container
      h2 Kick Boxing
    // End of spotlight-instructor
  // End of row
  .row
    .offset-by-one.six.columns.page-content
      p
        | It is a striking art that blends techniques such as; kicks, knees, elbows, punches, and clinch work. Muay Thai (also known as Thai Boxing) is a fighting art that originated in Thailand (formerly Siam) 2000 years ago. Often called the "Toughest ring sport in the world" it is known for its powerful techniques of punching (boxing), elbows, knees, and kicks. The Muay Thai practitioner will gain superior speed and conditioning through hard training.
      .row
        .six.columns.photo-container
          img.center-image(src='images/wanderlei_coach.jpg', style="max-width:59vw;")
      .row
        .six.columns.photo-container
          img.center-image(src='images/kickboxing_1.jpeg', style="max-width:59vw;")
      .row
        .six.columns.photo-container
          img.center-image(src='images/kickboxing_2.jpeg', style="max-width:59vw;")
      // End of row
    // End of offset-by-one six columns
    .five.columns.program-form
      form.instructor-form
        .row
          .offset-by-one.ten.columns
            h2.form-heading.center-content.form-heading-top Contact Us To
            h2.form-heading.center-content
              span.highlighted Start
              |  Today !
          // twelve columns
          .offset-by-one.ten.columns.center-content
            input#nameInput(type='text', placeholder='First &amp; Last Name')
          .offset-by-one.ten.columns.center-content
            input#emailInput(type='email', placeholder='Email')
          .offset-by-one.ten.columns.center-content
            input#phoneInput(type='tel', placeholder='Phone Number')
          .offset-by-one.ten.columns.center-content
            input.button.instructor-submit(type='submit', value='START TRAINING TODAY')
        // End of row
    // End of five columns
  // End of row
