extends ../layouts/default

block content
  .row
    .twelve.columns.jumbotron
      form(method="post").main-form
        input(type='hidden', name='action', value='contact')
        .row
          .offset-by-two.eight.columns
            h2.form-heading.center-content
              | Contact Us To 
              span.highlighted Start
              |  Today
          // twelve columns
          .offset-by-one.ten.columns.center-content
            input#nameInput(type='text', name='name.full', value=formData['name.full'], placeholder='First & Last Name')
          .offset-by-one.ten.columns.center-content
            input#emailInput(type='email',name='email', value=formData.email, placeholder='Email')
          .offset-by-one.ten.columns.center-content
            input#phoneInput(type='tel', name='phone', value=formData.phone, placeholder='Phone Number')
          .offset-by-one.ten.columns.center-content
            input.button(type='submit', value='START TRAINING TODAY')
        // End of row
    // End of jumbotron
  // End of row
  .container
    .row.intro
      .twelve.columns.intro-heading
        h3.center-content American Top Team OKC
      // End of intro-heading
      .twelve.columns.intro-content
        p.center-content
          | American Top Team in Oklahoma City is the Premier MMA training facility used by mixed martial arts, brazilian jiujitsu competitors and other sports athletes alike! Come Join Us Today and see what all the fuss is about
      // End of intro-content
      .twelve.columns.intro-button
        a.button(href='/contact') Join Now
      // End of intro-button
    // End of intro
    .row(style="text-align:center;padding-top:60px")
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1622.743280439096!2d-97.55122801299251!3d35.56638067101853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b21a57fc7dec9f%3A0xdee4538467f9d68a!2sAmerican+Top+Team+OKC!5e0!3m2!1sen!2sus!4v1493846774094", width="800", height="600", frameborder="0", style="border:0", allowfullscreen)
    .row.social
      .twelve.columns.social-heading
        h3.center-content Check Us Out On Social Media!
      // End of social-heading
      .twelve.columns.social-buttons
        ul.no-list-1
          li
            a(href='https://www.facebook.com/att.okc')
              img(src='images/facebook-icon.svg')
          li
            a(href='https://twitter.com/attokc')
              img(src='images/twitter-icon.svg')
          li
            a(href='https://www.instagram.com/attokc1/')
              img(src='images/instagram-icon.svg')
      // End of social-buttons
      .twelve.columns.social-works
        .row
          .twelve.columns.recent-works
            h4.center-content.social-works-heading Recent Works
          // End of recent-works
          .twelve.columns.social-frames
            div#instafeed
        // End of row
      // End of social-works
    // End of social
  // End of container

