extends ../layouts/default

block content
      .row.u-cf
      .row
        .twelve.columns.mobile-div.center-content
          a.button.button-mobile(href='/contact') Contact Us
      .row.page-title
        .offset-by-one.six.columns.page-title-container
          h2 No Gi
        // End of spotlight-instructor
      // End of row
      .row
        .offset-by-one.six.columns.page-content
          p
            | No-Gi BJJ, is the art of grappling for submissions, without the gi. It relies heavily on wrestling and modified BJJ moves, in order to submit your opponent, incapacitate them or to win via points. No-Gi BJJ has become increasingly popular due to it's close relationship to MMA. It is a fun and exciting way to learn how to defend yourself and also to increase your overall fitness!
          .row
            .six.columns.photo-container
              img.center-image(src='images/nogi_1.jpg',style="max-width:59vw;")
          .row
            .six.columns.photo-container
              img.center-image(src='images/nogi_2.jpg',style="max-width:59vw;")
          // End of row
        // End of offset-by-one six columns
        .five.columns.program-form
          form.instructor-form
            .row
              .offset-by-one.ten.columns
                h2.form-heading.center-content.form-heading-top Contact Us To
                h2.form-heading.center-content
                  span.highlighted Start
                  |  Today !
              // twelve columns
              .offset-by-one.ten.columns.center-content
                input#nameInput(type='text', placeholder='First & Last Name')
              .offset-by-one.ten.columns.center-content
                input#emailInput(type='email', placeholder='Email')
              .offset-by-one.ten.columns.center-content
                input#phoneInput(type='tel', placeholder='Phone Number')
              .offset-by-one.ten.columns.center-content
                input.button.instructor-submit(type='submit', value='START TRAINING TODAY')
            // End of row
        // End of five columns
      // End of row