extends ../layouts/default

block content
    #attokc_schedule
      table
        thead
          tr
            th
            th
              span.day 1
              |  
              span.long Monday
              |  
              span.short Mon
            th
              span.day 2
              |  
              span.long Tuesday
              |  
              span.short Tue
            th
              span.day 3
              |  
              span.long Wendsday
              |  
              span.short We
            th
              span.day 4
              |  
              span.long Thursday
              |  
              span.short Thur
            th
              span.day 5
              |  
              span.long Friday
              |  
              span.short Fri
            th
              span.day 6
              |  
              span.long Saturday
              |  
              span.short Sat
            th
              span.day 7
              |  
              span.long Sunday
              |  
              span.short Sun
        tbody
          tr
            td.hour(rowspan='4')
              span 06:00-7:00 AM
            td BJJ
            td BJJ
            td BJJ
            td BJJ
            td BJJ
            td Closed
            td Closed
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td.hour(rowspan='4')
              span 08:00-9:00 AM
            td
            td
            td
            td
            td
            td Conditioning
            td Closed
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td.hour(rowspan='4')
              span 09:00-10:00 AM
            td
            td
            td
            td
            td
            td Open Mat
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td.hour(rowspan='4')
              span 10:00-11:00 AM
            td
            td
            td
            td
            td
            td Open Mat
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td.hour(rowspan='4')
              span 11:00-12:00 AM
            td
            td
            td
            td
            td
            td No Gi (Giullianno Gallupi)
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td.hour(rowspan='4')
              span 5:00 - 6:00 PM
            td 
            td Kids BJJ
            td
            td Kids BJJ
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td.hour(rowspan='4')
              span 06:00-07:00 PM
            td BJJ
            td BJJ
            td BJJ
            td BJJ
            td CLOSED
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td.hour(rowspan='4')
              span 07:00-8:00 PM
            td BJJ
            td Wrestling
            td No Gi (Brandon Frame)
            td
            td
            td
            td
          tr
            td Kick Boxing
            td Kick Boxing
            td Kick Boxing
            td Kick Boxing
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td

