include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		base(href="/")
		title= title || 'ATT OKC:  Train in BJJ and more here in Oklahoma City!'
		meta(name="description", content="American Top Team OKC offers World class BJJ, MMA, Kickboxing, Wrestling and NoGi BJJ training. Come and see why American Top Team is considered one of the Premier MMA training facilities in the world!")
		meta(property="og:type",content='Website')
		meta(property="og:image",content='http://lychee-sundae-59213.herokuapp.com/images/attokc_banner.jpeg')
		meta(property="og:image:secure",content='http://lychee-sundae-59213.herokuapp.com/images/attokc_banner.jpeg')
		meta(property="og:image:height", content="1500")
		meta(property="og:image:width", content="1500")
		meta(property="og:title",content='American Top Team OKC')
		meta(property="og:type",content="website")
		
		meta(property="og:url", content="http://lychee-sundae-59213.herokuapp.com")

		//- link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(rel='stylesheet', href='/bower_components/skeleton/css/normalize.css')
		link(rel='stylesheet', href='/bower_components/skeleton/css/skeleton.css')
		link(href="/styles/site.css", rel="stylesheet")
		link(rel='icon', type='image/png', href='images/favicon.png')
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='bower_components/jquery-ui/jquery-ui.min.js')
		script(async,src='js/instafeed.js')
		script(aync,src='js/custom.js')
		

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		.body-container
			//- HEADER
			#header

				//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
				//- ... or completely change this header to suit your design.

				div(role="navigation")
					.u-max-full-width.pad_top_twenty
						#secondary-menu
							li#secondary-menu-toggle(style="font-size:36px;") MENU
							ul#secondary-menu-links.no-list.hide
								a(href="/")
									li Home
								a(href="/schedule")
									li Schedule
								a(href="/contact")
									li Contact Us
								a(href="/instructors")
									li Instructors
								a(href="/about_us")
									li History
								a(href="/media")
									li Media
								a(href="/bjj")
									li BJJ
								a(href="/kickboxing")
									li KickBoxing
								a(href="/nogi")
									li No-Gi
								a(href="/wrestling")
									li Wrestling
								a(href="/kidsbjj")
									li Kids BJJ

						.three.columns.logo
							div.needless-container
								a(href="/")
									img(src='images/attokc_banner_resize.jpg')

						.two.columns.social-nav-buttons
							ul.no-list-1
								li
									a(href='https://www.facebook.com/att.okc')
										img.mini(src='images/facebook-icon.svg')
								li
									a(href='https://twitter.com/attokc')
										img.mini(src='images/twitter-icon.svg')
								li
									a(href='https://www.instagram.com/attokc1/')
										img.mini(src='images/instagram-icon.svg')
						.six.columns.menu-container
							ul#menu.no-list
								li
									a(href="/") Home
								li#toggle-dropdown-two(style="cursor:pointer;") About Us
									div.dropdown-menu-two.hidden
										ul
											li 
												a(href="/instructors") Instructors
											li
												a(href="/history") History
											li
												a(href="/blog") Blog
											li
												a(href="/media") Media
								li#toggle-dropdown(style="cursor:pointer;") Programs
									div.dropdown-menu.hidden
										ul
											li 
												a(href="/bjj") BJJ
											li
												a(href="/kickboxing") KickBoxing
											li
												a(href="/nogi") No-Gi
											li
												a(href="/wrestling") Wrestling
											li
												a(href="/kidsbjj") Kids BJJ
								li
									a(href="/schedule") Schedule
								li
									a(href="/contact") Contact Us
								if user
									if user.canAccessKeystone
										li: a(href='/keystone') Open Keystone
										li: a(href='/keystone/signout') Sign Out
								else
									li: a(href='/keystone/signin') Sign In

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


			//- FOOTER
			footer.twelve.columns.footer
				div.footer-branding.inline-display.offset-by-two.four.columns
					h6 2017 American Top Team OKC 
				div.credits.inline-display.offset-by-two.four.columns
					p Developed By:<br> <a href="#">Rawle Juglal</a> and <a href="#">Daniel Ashcraft</a>
					p.footer-lower Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>


		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-1.11.3.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
